<header>
    <img src="../../../../assets/img/logo.png" (click)="clickMenuBtn('/home')">
    <ul>
        <ng-container *ngFor="let item of menuItems">
            <li *ngIf="item.visible && !item.isButton">
                <a (click)="clickMenuBtn(item.path)">{{ item.label }}</a>
            </li>
        </ng-container>
    </ul>

    <div class="buttons">
        <ng-container *ngFor="let item of menuItems">
            <button *ngIf="item.visible && item.isButton" (click)="clickMenuBtn(item.path)" (click)="item?.action()"
                [class]="item.class">
                {{ item.label }}
            </button>
        </ng-container>
    </div>
</header>