:host {
    .wrapper {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 10px;
        padding: 20px;

        section:not(:last-child) {
            margin-bottom: 20px;
        }

        .price {
            ::ng-deep p-slider {
                margin: 0 auto 0 auto;
                display: block;
                width: 90%;
            }

            ::ng-deep .p-slider .p-slider-range {
                background-color: rgb(194, 8, 8);
            }

            ::ng-deep .p-slider-handle {
                border-color: rgb(194, 8, 8);
                background: rgb(194, 8, 8);
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
                width: 1rem;
                height: 1rem;
            }

            .price-range {
                display: flex;
                justify-content: space-between;
                margin: 30px 0 0 0;
                font-weight: 400;
                font-size: 0.75rem;

                .gray {
                    color: gray;
                    font-size: 0.75rem;
                    margin-bottom: 5px;
                }
            }
        }

        .services {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h4 {
                margin-bottom: 0;
            }
        }
    }

    p-checkbox {
        margin-right: 10px;
    }

    label {
        font-weight: 400;
        font-size: 1rem;
    }
    
    ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
        background-color: #c20808 !important;
        border-color: #c20808 !important;
    }

    ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        box-shadow: 0 0 0 0.2rem #ffe1e1;
        border-color: #c20808 !important;
    }
    
    ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: #c20808 !important;
    }

}