<section>
    <app-header></app-header>

    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="clickSignInBtn()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email">
                <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
                    class="alert alert-danger">
                    <div *ngIf="loginForm.controls.email.errors?.required">
                        Email is required.
                    </div>
                    <div *ngIf="loginForm.controls.email.errors?.email">
                        Not a valid email.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" class="form-control"
                    placeholder="Enter password">
                <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                    class="alert alert-danger">
                    <div *ngIf="loginForm.controls.password.errors?.required">
                        Password is required.
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</section>