<section>
    <app-header></app-header>

    <div class="login-container">
      <app-form-card [title]="'Sign In'">
        <form class="content-container" content>
          <app-form-input [myFormControl]="loginForm.controls.email" [placeholder]="'Email'" [type]="'email'" [errorMessage]="emailError"></app-form-input>
          <app-form-input [myFormControl]="loginForm.controls.password" [placeholder]="'Password'" [type]="'password'" [errorMessage]="passwordError"></app-form-input>
          <a class="form-link" href="#" (click)="$event.preventDefault()">Forgot password?</a>
        </form>
        <div class="footer-container" footer>
          <app-form-button [title]="'Sign In'" [disabled]="!loginForm.valid" (click)="clickSignInBtn()"></app-form-button>
          <a class="form-link" href="#" (click)="$event.preventDefault()">Don't have an account?</a>
        </div>
      </app-form-card>
    </div>
</section>
