<section class="wrapper">
    <app-header></app-header>
    <div class="room-card">
        <p-card header="Add New Room">
            <div class="new-room-details">
                <div class="input-field">
                    <label for="new-room-name">Room Name:</label>
                    <input id="new-room-name" [(ngModel)]="newRoom.name" type="text" pInputText>
                </div>

                <div class="input-field">
                    <label for="new-room-description">Description:</label>
                    <textarea id="new-room-description" [(ngModel)]="newRoom.description" rows="3"
                        pInputTextarea></textarea>
                </div>

                <div class="input-field">
                    <label for="new-room-price">Price:</label>
                    <input id="new-room-price" [(ngModel)]="newRoom.price" type="text" pInputText>
                </div>

                <div class="input-field">
                    <label for="new-room-price">Size:</label>
                    <input id="new-room-price" [(ngModel)]="newRoom.size" type="text" pInputText>
                </div>

                <div class="input-field">
                    <label for="new-room-price">Beds:</label>
                    <p-multiSelect 
                      [showToggleAll]="false" 
                      [options]="beds" 
                      [(ngModel)]="newRoom.beds" 
                      placeholder="Select Beds" 
                      optionLabel="name">
                        <ng-template let-bed pTemplate="item">
                            <div class="beds-list">
                                <div>Bed Type: {{ bed.name }}</div>
                                <div>
                                    <span>Bed Count: </span>
                                    <input [(ngModel)]="bed.count">
                                </div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

                <div>
                    <h4>Amenities:</h4>
                    <div class="input-field-with-actions">
                        <p-multiSelect 
                            [showToggleAll]="false" 
                            [options]="amenities" 
                            [(ngModel)]="newRoom.amenities" 
                            optionLabel="name">
                        </p-multiSelect>
                    </div>
                </div>
            </div>

            <div class="room-actions">
                <p-button label="Add Room" [disabled]="!isRoomDataValid(newRoom)" (onClick)="addNewRoom()"
                    icon="pi pi-plus"></p-button>
            </div>
        </p-card>
    </div>

    <div class="room-card" *ngFor="let room of rooms; let i = index">
        <p-card *ngIf="editRoomId !== room.id" [header]="room.name">
            <div class="room-details">
                <h4>Room Price</h4>
                <p class="price">{{'$' + room.price}}</p>

                <h4>Room Description</h4>
                <p class="room-description">{{ room.description }}</p>

                <h4>Room Size</h4>
                <p class="room-description">{{ room.size }} m²</p>

                <div class="room-beds">
                    <h4>Beds</h4>
                    <p *ngFor="let bed of room.beds">{{ bed.count }} x {{ bed.name }} (Size: {{ bed.size }})</p>
                </div>

                <div class="room-amenities">
                    <h4>Amenities</h4>
                    <p>{{ room.amenities | joinAmenities }}</p>
                </div>

                <div class="room-media">
                    <h4>Room Images</h4>
                    <div class="media" >
                        <ng-container *ngFor="let url of room.images">
                            <img [src]="url">
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="room-actions">
                <p-button label="Edit" (onClick)="editRoomId = room.id" icon="pi pi-pencil"></p-button>
                <p-button label="Delete" (onClick)="deleteRoom(room.id)" icon="pi pi-trash"
                    styleClass="p-button-danger"></p-button>
            </div>
        </p-card>

        <p-card *ngIf="editRoomId === room.id" [header]="room.name">
            <div class="edit-room-details">
                <section>
                    <div class="input-field">
                        <label for="room-name-{{i}}">Room Name:</label>
                        <input id="room-name-{{i}}" [(ngModel)]="room.name" type="text" pInputText>
                    </div>
                    <div class="input-field">
                        <label for="room-description-{{i}}">Description:</label>
                        <textarea id="room-description-{{i}}" [(ngModel)]="room.description" rows="3"
                            pInputTextarea></textarea>
                    </div>
                    <div class="input-field">
                        <label for="room-price-{{i}}">Price:</label>
                        <input id="room-price-{{i}}" [(ngModel)]="room.price" type="text" pInputText>
                    </div>
                    <div class="input-field">
                        <label for="room-size-{{i}}">Size:</label>
                        <input id="room-size-{{i}}" [(ngModel)]="room.size" type="text" pInputText>
                    </div>
    
                </section>

                <section>
                    <h4>Amenities:</h4>
                    <p-multiSelect 
                      [showToggleAll]="false" 
                      [options]="amenities" 
                      [(ngModel)]="room.amenities" 
                      optionLabel="name">
                    </p-multiSelect>
                </section>

                <div class="input-field">
                    <label>Beds:</label>
                    <p-multiSelect 
                      [showToggleAll]="false" 
                      [options]="beds" 
                      [(ngModel)]="room.beds" 
                      placeholder="Select Beds" 
                      optionLabel="name">
                        <ng-template let-bed pTemplate="item">
                            <div class="beds-list">
                                <div>Bed Type: {{ bed.name }}</div>
                                <div>
                                    <span>Bed Count: </span>
                                    <input [(ngModel)]="bed.count">
                                </div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

                <section>
                    <h4>Images:</h4>
                    <p-fileUpload  
                      name="demo[]"
                      accept="image/*" 
                      [customUpload]="true"
                      [multiple]="true" 
                      [maxFileSize]="1000000"
                      (uploadHandler)="customUpload($event, room.id)"
                      accept=".jpg, .png">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </section>
            </div>

            <div class="edit-actions">
                <p-button label="Save" [disabled]="!isRoomDataValid(room)"
                    (onClick)="editRoomId = null; modifyRoom(room)" icon="pi pi-check"></p-button>
                <p-button label="Cancel" (onClick)="editRoomId = null" icon="pi pi-times"></p-button>
            </div>
        </p-card>
    </div>
</section>