<section>
  <app-header></app-header>
  <div class="registration-container">
    <app-form-card [title]="'Sign Up'">
      <form class="content-container" content>
        <app-form-input [myFormControl]="registrationForm.controls.email" [placeholder]="'Email'" [type]="'email'" [errorMessage]="emailError"></app-form-input>
        <app-form-input [myFormControl]="registrationForm.controls.password" [placeholder]="'Password'" [type]="'password'" [errorMessage]="passwordError"></app-form-input>
        <app-form-input [myFormControl]="registrationForm.controls.confirmPassword" [placeholder]="'Confirm password'" [type]="'password'" [errorMessage]="confirmPasswordError"></app-form-input>
      </form>
      <div class="footer-container" footer>
        <app-form-button [title]="'Sign Up'" [disabled]="!registrationForm.valid" (click)="clickRegisterBtn()"></app-form-button>
        <a class="form-link" href="#" (click)="$event.preventDefault()">Don't have an account?</a>
      </div>
    </app-form-card>
  </div>
</section>
