<app-header></app-header>
<section class="wrapper">
    <div class="pay-info-container">
        <div class="back-button-container">
            <i class="material-icons-outlined" 
              [routerLink]="['/room']"
              [queryParams]="{room_id: roomId}">
                arrow_back_ios
            </i>
            <span>Confirm and pay</span>
        </div>

        <div class="trip-info-container">
            <p>Your trip</p>
            <div class="date-container">
                <p><strong>Dates</strong></p>
                <p>{{formatedDates}}</p>
            </div>
        </div>

        <p-divider></p-divider>

        <div class="payment-method-container">
            <p>Choose how to pay</p>
            <mat-radio-group [(ngModel)]="selectedOption">
                <div class="payment-method-1">
                    <div>
                        <p><strong>Pay now</strong></p>
                        <p>Pay the total (€ {{totalPrice}})</p>
                    </div>
                    <mat-radio-button value="without_fee"></mat-radio-button>
                </div>
                <div class="payment-method-2">
                    <div>
                        <p>
                            <strong>Pay in the hotel</strong>
                        </p>
                        <p>
                            Pay the total in the hotel. Extra fee 1% (€ {{totalPrice}} + € {{fee}})
                        </p>
                    </div>
                    <mat-radio-button value="fee"></mat-radio-button>
                </div>
            </mat-radio-group>
        </div>

        <p-divider></p-divider>

        <form 
          class="user-data-container" 
          [formGroup]="bookForm">
            <p>Complete your booking details</p>
            <input type="text" formControlName="firstName" placeholder="First Name">
            <input type="text" formControlName="lastName" placeholder="Last Name">
            <input type="tel" formControlName="phone" placeholder="Phone">
            <p class="policy">
                We’ll call or text you to confirm your number. Standard message and data rates apply. Privacy Policy
            </p>
            <p-button 
              label="Book" 
              [loading]="loading" 
              (onClick)="book()">
            </p-button>
        </form>
    </div>
    <div class="room-info-container">
        <div></div>
        <div class="room-info">
            <div class="room-data">
                <img src="../../assets/img/our_rooms_1.png">
                <div class="text">
                    <p>{{roomName}}</p>
                    <p>
                        <i class="pi pi-star-fill"></i>
                        <span> {{formatedRoomRating}} (17 reviews)</span>
                    </p>
                </div>
            </div>

            <p-divider></p-divider>

            <div class="price-details-container">
                <p><strong>Price details</strong></p>
                <div class="pricing">
                    <p>€ {{nightPrice}} x {{nights}} nights</p>
                    <span>€ {{totalPrice}}</span>
                </div>
                <div *ngIf="selectedOption === 'fee'" class="pricing">
                    <p>Hotel service fee</p>
                    <span>€ {{fee}}</span>
                </div>
            </div>

            <p-divider></p-divider>

            <div class="total">
                <p>Total (EUR)</p>
                <span *ngIf="selectedOption === 'fee'" class="pricing">
                    € {{totalPriceWithFee}}
                </span>
                <span *ngIf="selectedOption === 'without_fee'" class="pricing">
                    € {{totalPrice}}
                </span>
            </div>
        </div>
    </div>
</section>