<app-header></app-header>
<section class="wrapper">
    <div class="pay-info-container">
        <div class="back-button-container">
            <i class="material-icons-outlined">arrow_back_ios</i>
            <span>Confirm and pay</span>
        </div>

        <div class="trip-info-container">
            <p>Your trip</p>
            <div class="date-container">
                <p><strong>Dates</strong></p>
                <p>Feb 14-16</p>
            </div>
        </div>

        <p-divider></p-divider>

        <div class="payment-method-container">
            <p>Choose how to pay</p>
            <div class="payment-method-1">
                <div>
                    <p><strong>Pay now</strong></p>
                    <p>Pay the total (€ 200)</p>
                </div>
                <mat-radio-button value="after"></mat-radio-button>
            </div>
            <div class="payment-method-2">
                <div>
                    <p><strong>Pay in the hotel</strong></p>
                    <p>Pay the total in the hotel. Extra fee 1% (€ 200 + € 2)</p>
                </div>
                <mat-radio-button value="after"></mat-radio-button>
            </div>
        </div>

        <p-divider></p-divider>

        <div class="user-data-container">
            <p>Complete your booking details</p>
            <input placeholder="First name">
            <input placeholder="Last name">
            <input placeholder="Phone number">
            <input placeholder="Email">
            <p class="policy">We’ll call or text you to confirm your number. Standard message and data rates apply. Privacy Policy</p>
            <p-button label="Book" [loading]="loading" (onClick)="load()"></p-button>
        </div>
    </div>
    <div class="room-info-container">
        <div></div>
        <div class="room-info">
            <div class="room-data">
                <img src="../../assets/img/our_rooms_1.png">
                <div class="text">
                    <p>Cozy Nordlandshus in Brønnøy</p>
                    <p>
                        <i class="pi pi-star-fill"></i>
                        <span> 4.51 (17 reviews)</span>
                    </p>
                </div>
            </div>  

            <p-divider></p-divider>

            <div class="price-details-container">
                <p><strong>Price details</strong></p>
                <div class="pricing">
                    <p>€ 87.59 x 2 nights</p>
                    <span>€ 175.18</span>
                </div>
                <div class="pricing">
                    <p>Hotel service fee</p>
                    <span>€ 32.17</span>
                </div>
            </div>

            <p-divider></p-divider>

            <div class="total">
                <p>Total (EUR)</p>
                <span>€ 220.49</span>
            </div>
        </div>
    </div>
</section>