<app-header></app-header>

<div class="wrapper">
  <section class="start-page">
    <div class="start-page-container">
      <h1>{{'PAGES.HOME.START.TITLE' | translate}}</h1>
      <h3>{{'PAGES.HOME.START.TEXT' | translate}}</h3>
      <div class="btn">
        <button>
          <div class="outline">
            Book Now
          </div>
        </button>
      </div>
    </div>
  </section>
  <section class="about-us-page">
    <div class="info-container">
      <div class="address">
        <h4>Latvia</h4>
        <h5>Riga</h5>
        <h6>Zaļā iela 15</h6>
      </div>
      <div class="container">
        <div class="map">
          <div class="map-container">
            <div class="point">
              <div class="dot"></div>
            </div>
            <span>Gaming Hotel</span>
          </div>
        </div>
        <div class="description">
          <h4>About us</h4>
          <p>{{'PAGES.HOME.ABOUT_US.TEXT_1' | translate}}</p>
          <p>{{'PAGES.HOME.ABOUT_US.TEXT_2' | translate}}</p>
          <div class="imgs">
            <img src="../../assets/img/about_us_1.png">
            <img src="../../assets/img/about_us_2.png">
          </div>
        </div>
      </div>
    </div>
    <div class="transition-img"></div>
    <div class="rot-text">
      <div></div>
      <span>FIRST GAMING HOTEL IN THE WORLD</span>
    </div>
  </section>
  <section class="our-service-page">
    <div class="transition-img-2"></div>
    <h1>Our Services</h1>
    <div class="service-container">
      <div class="service-column">
        <div class="service">
          <img src="../../assets/img/service_1.png">
          <div class="service-info">
            <h3>{{'PAGES.HOME.OUR_SERVICES.TITLE_1' | translate}}</h3>
            <div>{{'PAGES.HOME.OUR_SERVICES.TEXT_1' | translate}}</div>
            <button class="minecraft-button">Learn More</button>
          </div>
        </div>
        <div class="service">
          <img src="../../assets/img/service_3.png">
          <div class="service-info">
            <h3>{{'PAGES.HOME.OUR_SERVICES.TITLE_3' | translate}}</h3>
            <div>{{'PAGES.HOME.OUR_SERVICES.TEXT_3' | translate}}</div>
            <button class="minecraft-button">Learn More</button>
          </div>
        </div>
      </div>
      <div class="service-column-2">
        <div class="service">
          <div class="service-info-reverse">
            <h3>{{'PAGES.HOME.OUR_SERVICES.TITLE_2' | translate}}</h3>
            <div>{{'PAGES.HOME.OUR_SERVICES.TEXT_2' | translate}}</div>
            <button class="minecraft-button">Learn More</button>
          </div>
          <img src="../../assets/img/service_2.png" >
        </div>
      </div>
    </div>
  </section >
  <section class="our-rooms">
    <h1>Our Rooms</h1>
    <div class="rooms-container">
      <div class="rooms-info">
        <span>{{'PAGES.HOME.OUR_ROOMS.TEXT_1' | translate}}</span>
          <div class="room-panel"
            [ngStyle]="{'background-image': 'url(../../assets/img/our_rooms_1.png)'}">
            <div class="info">
              <h5>Minimalist Realm</h5>
              <div class="rating"> 
                <p-rating [(ngModel)]="rating" [stars]="5" [readonly]="true" [cancel]="false"></p-rating>
                <span>(294 visitors)</span>
              </div>
              <span>$102 / night</span>
            </div>
            <button>Book now</button>
        </div>
      </div>
      <div class="rooms-info">
        <div class="room-panel"
          [ngStyle]="{'background-image': 'url(../../assets/img/our_rooms_2.png)'}">
          <div class="info">
            <h5>Gamer's Frost Fortress</h5>
            <div class="rating"> 
              <p-rating [(ngModel)]="rating" [stars]="5" [readonly]="true" [cancel]="false"></p-rating>
              <span>(91 visitors)</span>
            </div>
            <span>$102 / night</span>
          </div>
          <button>Book now</button>
        </div>
        <div class="text">
          <span>{{'PAGES.HOME.OUR_ROOMS.TEXT_2' | translate}}</span>
          <div> <button>More Rooms</button></div>
        </div>
      </div>
    </div>
    <img class="bg1" src="../../assets/img/our_rooms_bg_1.png">
    <img class="bg2" src="../../assets/img/our_rooms_bg_2.png">
  </section>
</div>


<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->
