<app-header></app-header>

<div class="wrapper">
  <section class="start-page">
    <div class="start-page-container">
      <h1>{{'PAGES.HOME.START.TITLE' | translate}}</h1>
      <h3>{{'PAGES.HOME.START.TEXT' | translate}}</h3>
      <div class="btn">
        <button>
          <div class="outline">
            Book Now
          </div>
        </button>
      </div>
    </div>
  </section>
  <section class="start-page">

  </section>
</div>


<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->
